@charset "UTF-8";

.btn-circle {
  font-size: 27px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  transition: background .3s ease-in-out;
  border: 2px solid #fff;
  border-radius: 100%!important;
  color: #fff;
}

.footer-btn-circle {
  font-size: 27px;
  width: 55px;
  height: 55px;
  line-height: 36px;
  margin-top: 25px;
  transition: background .3s ease-in-out;
  border: 2px solid #494848;
  border-radius: 100%;
  color: #7f7f7f;
  margin: 25px 0;
}

.btn-circle:focus,.btn-circle:hover {
  color: #000;
  text-decoration: none;
  outline: 0;
  background: rgba(255,255,255,.1);
}

.btn-circle:hover {
  color: #000;
  text-decoration: none;
  outline: 0;
  background: rgba(255,255,255,.1);
}

a,button,input,li,p {
  font-family: 'Roboto Condensed',sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Condensed',sans-serif;
  margin: 0 0 15px;
  letter-spacing: 1px;
  font-weight: 700;
}

.features-section {
  padding: 75px 0 50px;
  background-color: #eef4f7;
  position: relative;
  fill: #fff;
}

.map-title {
  font-weight: 700;
  font-size: 26px;
}

.features-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 35px;
}

.reviews-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 60px;
}

.features-title:after,.map-title:after {
  display: block;
  content: '';
  width: 50px;
  height: 3px;
  background-color: #ffd71c;
  margin: 30px auto 0 auto;
}

.car-types .box {
  padding-bottom: 5px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 .1rem .5rem rgba(0,0,0,.15);
  height: 100%;
  overflow: hidden;
}

.we-offers .box {
  padding: 10px 25px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px .5rem 20px rgba(0,0,0,.1);
  height: 100%;
  overflow: hidden;
}

.car-types .box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.16);
  height: 100%;
  overflow: hidden;
}

@media (min-width:576px) {
  .we-offers .box {
    padding: 18px 25px;
  }
}

@media (min-width:768px) {
  .we-offers .box {
    padding: 25px 25px;
  }
}

@media (min-width:992px) {
  .we-offers .box {
    padding: 40px 25px;
  }
}

.features-section .box:hover {
  box-shadow: 0 1px 7px 2px rgba(0,0,0,.16);
}

.features-section .icon {
  display: block;
  vertical-align: middle;
  font-size: 60px;
  max-height: 60px;
  color: #ffd71c;
  margin-top: 20px;
  margin-bottom: 35px;
}

.box .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  min-height: 2em;
}

.car-types .box .title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0;
  min-height: 2em;
}

.box .description {
  font-size: 16px;
}

.map-question {
  text-transform: uppercase;
}

.features-question {
  text-transform: uppercase;
  font-size: 15px;
  color: #95b4c6;
}

.options-section {
  padding: 75px 0 100px;
}

.option-item .right {
  width: 100%;
}

@media (min-width:768px) {
  .option-item .right {
    width: 50%;
  }
}

.option-item .left {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

@media (min-width:768px) {
  .option-item .left {
    width: 50%;
    margin-bottom: 0;
    margin-right: 40px;
  }
}

.consult-button,.footer-btn-circle,.option-item,.option-item:before,.service-button {
  transition: all .4s ease-out;
}

.option-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 40px 56px;
  border-radius: 10px;
  border: 1px solid #dce5ea;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.options-section .option-item {
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.16);
}

@media (min-width:768px) {
  .option-item {
    flex-direction: row;
    padding: 50px 50px 50px;
  }
}

@media (min-width:992px) {
  .option-item {
    padding: 50px 50px 45px;
  }
}

@media (min-width:1200px) {
  .option-item {
    padding: 40px 50px 40px;
  }
}

.option-item .service-button {
  display: block;
  width: 160px;
  border: 2px solid #ffd71c;
  border-radius: 10px;
  padding: 15px 0;
  font-size: 15px;
  font-family: 'Roboto Condensed',sans-serif;
  letter-spacing: .5px;
  font-weight: 900;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 10;
}

@media (min-width:768px) {
  .option-item .service-button {
    width: 185px;
    padding: 19px 0;
  }
}

.option-item .price {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 15px;
  position: relative;
  z-index: 10;
}

@media (min-width:768px) {
  .option-item .price {
    font-size: 40px;
    position: relative;
  }
}

.option-item .icon {
  display: none;
  color: #000;
  margin-right: 10px;
}

@media (max-width:768px) {
  .options-section-slider .swiper-slide-active .option-item .service-button {
    background: #ffd71e;
    transition: all 1.1s ease-out;
    transition-delay: .5s;
  }
}

@media (max-width:1200px) {
  .options-section-slider .option-item:before {
    box-shadow: 0 1px 7px 1px rgba(0,0,0,.16);
  }
}

@media (min-width:768px) {
  .option-item .service-button:hover {
    background-color: #ffd71c;
  }
}

.options-section-grid .option-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 1px 7px 1px rgba(0,0,0,.16);
}

.option-item .left img {
  max-height: 175px;
  position: relative;
  z-index: 10;
  margin: auto;
}

@media (min-width:576px) {
  .option-item .left img {
    max-height: initial;
    width: 70%;
    position: relative;
    z-index: 10;
  }
}

@media (min-width:1200px) {
  .option-item .left img {
    width: 100%;
  }
}

@media (min-width:1800px) {
  .option-item .left img {
    width: 75%;
  }
}

.right .option-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  z-index: 10;
}

@media (min-width:768px) {
  .right .option-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 900;
    text-align: left;
  }
}

.option-item .description {
  font-size: 16px;
  line-height: 1.3;
  z-index: 10;
  margin-bottom: 12px;
  position: relative;
}

@media (min-width:1140px) {
  .options-section .container {
    max-width: 1920px;
  }
}

.options-section .option-item:before {
  display: block;
  content: "";
  width: 1000px;
  height: 400px;
  border-radius: 200px;
  background-color: #eaf1f5;
  position: absolute;
  left: -540px;
  top: -20px;
  transform: rotate(-45deg);
}

@media (min-width:992px) {
  .options-section .option-item:before {
    left: -540px;
  }
}

@media (min-width:1200px) {
  .options-section .option-item:before {
    left: -600px;
  }
}

@media (min-width:1400px) {
  .options-section .option-item:before {
    left: -570px;
  }
}

.options-section-grid .option-item:hover:before {
  background-color: #ffd71c;
}

.map-phones p {
  display: none;
}

@media (min-width:576px) {
  .map-phones p {
    display: block;
    position: relative;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
  }
}

@media (min-width:576px) {
  .phones p {
    display: block;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
  }
}

@media (min-width:576px) {
  .map-phones p {
    display: block;
    padding: 5px 0 5px 35px;
    font-size: 17px;
    color: #000;
    background-size: 25px;
  }
}

@media (min-width:576px) {
  .what-price .phones p {
    display: initial;
    padding: 5px 0 5px 35px;
    margin: 0 10px;
    font-size: 17px;
    color: #000;
    background-size: 25px;
  }
}

@media (min-width:1200px) {
  .what-price .phones p {
    font-size: 26px;
    font-weight: 300;
  }
}

.vodafone {
  background-image: url(/assets/img/phones/vodafon.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.life {
  background-image: url(/assets/img/phones/life.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
}

.kievstar {
  background-image: url(/assets/img/phones/kievstar.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.image-block img {
  max-width: 100%;
  margin: 0;
  z-index: 10;
}

.price-description p {
  color: #95b4c6;
  font-size: 17px;
  text-align: center;
  margin-bottom: 20px;
}

.price-description {
  padding: 50px 20px 20px;
  position: relative;
  align-items: center;
  z-index: 10;
}

@media (min-width:576px) {
  .price-description {
    padding: 80px 70px 30px;
  }
}

@media (min-width:992px) {
  .price-description {
    padding: 80px 35px 60px 10px;
  }
}

@media (min-width:1200px) {
  .price-description {
    padding: 125px 70px 130px 5px;
  }
}

.what-price>.container {
  border-radius: 10px;
}

.what-price.second-price>.container {
  background: #eef4f7;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.16);
}

.what-price>.container {
  background-color: #fff;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.16);
}

.what-price {
  padding: 110px 0 95px;
  background-color: #eef4f7;
  position: relative;
  fill: #fff;
}

@media (min-width:576px) {
  .what-price {
    padding-top: 160px;
    padding-bottom: 135px;
  }
}

@media (min-width:992px) {
  .what-price {
    padding-top: 170px;
    padding-bottom: 135px;
  }
}

.image-block {
  display: none;
  position: relative;
}

@media (min-width:992px) {
  .image-block {
    display: initial;
    position: absolute;
    left: 50px;
    bottom: 0;
    z-index: 20;
  }
}

@media (min-width:1200px) {
  .image-block {
    left: 115px;
  }
}

@media (min-width:576px) {
  .price-description h4 {
    font-size: 26px;
    font-weight: 900;
  }
}

.price-description h4 {
  margin: 0 0 20px;
}

@media (min-width:992px) {
  .price-description h4 {
    margin: 0 0 20px;
  }
}

@media (min-width:992px) {
  .price-description h4 {
    margin: 0 0 25px;
  }
}

.phones p {
  display: none;
}

@media (min-width:576px) {
  .map-phones a {
    display: none!important;
  }
}

@media (min-width:576px) {
  .phones a {
    display: none!important;
  }
}

.map-phones .map-mobile-phone {
  display: block;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  padding-left: 35px;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.what-price .phones .mobile-phone {
  display: block;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  padding-left: 30px;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.phones {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review-section {
  padding: 200px 0 200px;
  background-color: #eef4f7;
}

.work-with-section {
  padding: 50px 0 55px;
  background-color: #eef4f7;
}

.what-price>.container:after {
  display: block;
  width: 90%;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 17px 51px 14px rgba(0,0,0,.22);
}

.partner-item:hover {
  box-shadow: 0 1px 7px 2px rgba(0,0,0,.16);
}

.partner-item {
  position: relative;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.16);
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
}

@media (min-width:992px) {
  .partner-item {
    height: 80px;
    margin-bottom: 0;
    background-color: initial;
    box-shadow: none;
  }
}

.partner-item:hover img {
  filter: grayscale(0);
}

.partner-item img {
  position: relative;
  max-height: 40px;
  filter: grayscale(1);
  z-index: 10;
  padding: 0 15px;
  height: 55%;
}

@media (min-width:992px) {
  .partner-item img {
    height: 46%;
  }
}

@media (min-width:1200px) {
  .partner-item img {
    height: 55%;
  }
}

.map-section {
  padding: 70px 0 60px;
  background-color: #fff;
  position: relative;
  fill: #eef4f7;
}

:after,:before {
  box-sizing: border-box;
}

.contact-item>h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.contacts-content-inner>h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.map-section .contact-item .header-icon {
  color: #ffd71c;
  margin-left: 4.75px;
  margin-right: 19.75px;
  font-size: 21px;
}

.map-section .contact-item .time .content-icon {
  color: gray;
  margin-right: 15px;
  font-size: 21px;
  line-height: 24px;
  vertical-align: middle;
}

.contact-item {
  margin-bottom: 20px;
}

.copyright {
  padding: 50px 0 10px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-logo {
  font-size: 50px;
}

.footer-phones p {
  display: none;
}

@media (min-width:576px) {
  .footer-phones p {
    display: block;
    margin-bottom: 15px;
    font-size: 25px;
    color: #494848;
  }
}

.footer-last-icon {
  opacity: 0;
}

.footer-phones a {
  display: block;
  font-size: 26px;
  color: #494848;
  text-decoration: none;
}

@media (min-width:576px) {
  .footer-phones a {
    display: none;
  }
}

.callback-icon {
  display: block;
  text-decoration: none;
  color: #282d32;
  font-size: 25px;
  height: 60px;
  width: 60px;
  margin: 30px auto;
}

.callback-icon:hover {
  color: initial;
  text-decoration: none;
}

.footer-last-row:before {
  display: block;
  content: "";
  width: calc(100% - 80px);
  height: 2px;
  background-color: #242728;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.menu-callback-link:hover {
  color: initial;
  text-decoration: none;
}

.footer-callback-link:hover {
  color: initial;
  text-decoration: none;
}

.map {
  width: 100%;
  height: 100%;
}

.map-container {
  height: 100%;
  width: 100%;
}

.footer-callback-container {
  margin: 40px 0 45px 0;
}

.menu-callback-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  font-size: 24px;
  line-height: 85px;
  color: #282d32;
  background-color: #ffd71c;
  border-radius: 50%;
  position: relative;
  margin-right: 18px!important;
}

@media (min-width:768px) {
  .menu-callback-link {
    display: none;
  }
}

.footer-callback-link {
  display: block;
  width: 85px;
  height: 85px;
  font-size: 40px;
  line-height: 85px;
  color: #282d32;
  background-color: #ffd71c;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.footer-callback-link:before {
  display: block;
  content: "";
  background: #ffd71c;
  background: rgba(255,215,28,.4);
  position: absolute;
  left: -10px;
  top: -10px;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  z-index: 0;
}

.footer .footer-btn-circle:hover {
  transform: translateY(-10px);
  color: #7f7f7f;
}

.copyright {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
  color: #e0e0e0;
  padding: 15px 0;
  margin-bottom: 0;
  bottom: 0;
  background-color: #eef4f7;
}

.map-phones {
  display: block;
}

.contacts-content-inner {
  margin-bottom: 20px;
}

.review-section .sp-arrows {
  display: none;
}

.about .right .swiper-slide:before,.car-types .box div:before,.review-item .right:before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  background: rgba(0,0,0,.1);
}

.review-item .left {
  background-color: #fff;
  padding: 35px 15px 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.about .left {
  max-height: 286px;
  overflow: hidden;
  background-color: #fff;
  margin: 35px 15px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width:576px) {
  .review-item .left {
    padding: 60px;
  }
}

@media (min-width:576px) {
  .about .left {
    margin: 60px 60px 0;
  }
}

@media (min-width:992px) {
  .review-item .left {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: center;
    padding: 40px 65px;
  }
}

@media (min-width:992px) {
  .about .left {
    flex: 1 1 50%;
    margin: 40px 45px 40px;
    overflow-y: scroll;
  }
}

@media (min-width:1200px) {
  .review-item .left {
    padding: 60px 90px;
  }
}

@media (min-width:1200px) {
  .about .left {
    margin: 60px 75px;
  }
}

.review-item .right {
  flex: 1 1 100%;
  position: relative;
}

@media (min-width:992px) {
  .review-item .right {
    flex: 1 1 50%;
  }
}

@media (min-width:992px) {
  .about .right {
    width: 40%;
  }
}

@media (min-width:992px) {
  .review-item .right img {
    height: initial;
  }
}

@media (min-width:992px) {
  .about .right img {
    height: initial;
  }
}

.review-item .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 10;
}

.about .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 10;
}

.repair-type span {
  font-weight: 900;
}

.review-item .top-comment:before {
  display: block;
  content: "";
  width: 85px;
  height: 75px;
  background: transparent url("/assets/img/reviewer's cars/right-quote-sign.svg") 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
}

.about .top-comment:before {
  display: block;
  content: "";
  width: 85px;
  height: 75px;
  background: transparent url("/assets/img/reviewer's cars/right-quote-sign.svg") 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
}

.review-item .comment-item img {
  display: block;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.about .comment-item img {
  display: block;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.reviews-section .date {
  font-size: 12px;
  color: #95b4c6;
  position: relative;
  z-index: 10;
}

.reviews-section .author-name {
  font-size: 20px;
  font-weight: 900;
  position: relative;
  z-index: 10;
  margin: 0;
}

.top-comment-content {
  position: relative;
}

.comment-content p {
  font-size: 15px;
  line-height: 1.3;
  font-family: 'Roboto Condensed',sans-serif;
}

.reviews-section .top-comment {
  align-items: center;
  margin-bottom: 25px;
  position: relative;
  display: flex;
}

.review-item {
  flex-direction: column-reverse;
  display: flex;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.16);
  margin: 6px;
  cursor: -webkit-grab;
  cursor: grab;
}

.about {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.16);
  margin: 6px;
  background: #fff;
}

.review-item:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.about .right:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

@media (min-width:992px) {
  .review-item {
    flex-direction: row;
  }
}

@media (min-width:992px) {
  .about {
    display: flex;
  }
}

.review-item .right div {
  height: 100%;
  max-width: 100%;
}

.about .right div {
  height: 100%;
  max-width: 100%;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}

@media (min-width:992px) {
  .about .right div {
    border-radius: 30px 0 0 30px;
  }
}

@media (min-width:1200px) {
  .review-item .top {
    margin-bottom: 20px;
  }
}

@media (min-width:1200px) {
  .about .top {
    margin-bottom: 20px;
  }
}

.review-item .top {
  margin-bottom: 10px;
  color: #95b4c6;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}

.about .top {
  margin-bottom: 10px;
  color: #0000a6;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}

@media (min-width:1200px) {
  .review-item .left-title {
    margin-bottom: 70px;
  }
}

@media (min-width:1200px) {
  .about .left-title {
    margin-bottom: 70px;
  }
}

.review-item .left-title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 900;
  position: relative;
}

.about .left-title {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 900;
  position: relative;
}

@media (min-width:1200px) {
  .review-item .left-title:after {
    bottom: -30px;
  }
}

@media (min-width:1200px) {
  .about .left-title:after {
    bottom: -30px;
  }
}

.review-item .left-title:after {
  display: block;
  content: "";
  width: 50px;
  height: 3px;
  background-color: #ffd71c;
  position: absolute;
  left: 0;
  bottom: -20px;
}

.about .left-title:after {
  display: block;
  content: "";
  width: 50px;
  height: 3px;
  background-color: #ffd71c;
  position: absolute;
  left: 0;
  bottom: -20px;
}

@media (max-width:992px) {
  .reviews-section .sp-mask,  .reviews-section .sp-slide {
    height: 1120px!important;
  }
}

@media (max-width:768px) {
  .reviews-section .sp-mask,  .reviews-section .sp-slide {
    height: 1000px!important;
  }
}

@media (max-width:576px) {
  .reviews-section .sp-mask,  .reviews-section .sp-slide {
    height: 860px!important;
  }
}

@media (min-width:992px) {
  .reviews-section .sp-buttons {
    display: none!important;
  }
}

@media (max-width:992px) {
  .reviews-section .sp-arrows,  .swiper-button {
    display: none!important;
  }
}

.reviews-section .sp-arrows {
  width: 135px!important;
  height: 45px;
  opacity: 1!important;
  left: initial!important;
  top: initial!important;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding-top: 8px;
}

.reviews-section .sp-buttons .sp-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c2d0d8;
  margin-right: 12px;
  border: 0;
}

.reviews-section .sp-buttons .sp-selected-button {
  width: 13px;
  height: 13px;
  background-color: #ffd71c;
  box-shadow: 0 5px 10px 0 rgba(255,215,28,.5);
}

.reviews-section .sp-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 70px;
}

.reviews-section .sp-next-arrow:after,.sp-next-arrow:before,.sp-previous-arrow:after,.sp-previous-arrow:before {
  width: 20%;
  background-color: #8f8f8f;
}

.reviews-section .sp-grab {
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.16);
}

#reviews-section .gallery-thumbs .swiper-slide:before,.reviews-section .sp-thumbnail-container:before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  background: rgba(0,0,0,.5);
  opacity: 1;
}

#reviews-section .gallery-thumbs .swiper-slide-thumb-active:before,.reviews-section .sp-thumbnail-container.sp-selected-thumbnail:before {
  opacity: 0;
}

@media (min-width:1400px) {
  .reviews-section .container {
    max-width: 1300px;
  }
}

@media (max-width:576px) {
  .review-item .left .top,  .review-item .left-title {
    display: none;
  }
}

.custom-shape-divider-top-1591415810 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  border-radius: 10px;
}

.custom-shape-divider-top-1591415810 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 55px;
}

@media (min-width:768px) {
  .custom-shape-divider-top-1591415810 svg {
    height: 105px;
  }
}

.custom-shape-divider-top-1591415810 .shape-fill {
  fill: #ffd71c;
}

.what-price .container {
  position: relative;
}

.header-item .slider-description,.header-item .slider-image {
  position: relative;
  flex: 1 1 100%;
  text-align: center;
}

@media (min-width:992px) {
  .header-item {
    height: 100%;
  }
}

@media (min-width:768px) {
  .header-item {
    height: 535px;
  }
}

.header-item {
  flex-direction: column-reverse;
  display: flex;
  margin-bottom: 35px;
}

.header-item .slider-description,.header-item .slider-image {
  padding: 20px;
  height: 50%;
}

@media (min-width:992px) {
  .header-item .slider-description,  .header-item .slider-image {
    position: relative;
    flex: 1 1 50%;
    text-align: initial;
    height: initial;
    margin: auto;
  }
}

@media (min-width:992px) {
  .header-item {
    flex-direction: row;
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (min-width:1200px) {
  .header-item {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.header-item .slider-image img {
  margin: auto;
  position: relative;
  height: 120%;
}

@media (min-width:992px) {
  .header-item .slider-image img {
    max-width: 100%;
    padding-bottom: initial;
    height: initial;
  }
}

.header-item .slider-image div {
  height: 100%;
  width: 100%;
}

.header-section .sp-mask,.header-section .sp-slide {
  min-height: 375px;
  height: 375px!important;
}

@media (min-width:768px) {
  .header-section .sp-mask,  .header-section .sp-slide {
    height: calc(100vh - 250px)!important;
    max-height: 520px;
  }
}

.header-section {
  background-color: #fff;
  position: relative;
}

.header-section .top {
  font-size: 14px;
  color: #95b4c6;
  text-transform: uppercase;
  margin-top: 30px;
}

.header-section .consult-button {
  display: block;
  position: relative;
  width: 165px;
  margin: 0 auto;
  padding: 13px 0;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffd71c;
  border-radius: 10px;
  color: #000;
  z-index: 10;
}

.menu-consult-button {
  display: block;
  position: relative;
  width: 120px;
  margin-right: 15px;
  padding: 14px 0;
  font-size: 13px;
  font-weight: 900;
  text-decoration: none!important;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffd71c;
  text-decoration: none;
  border-radius: 30px;
  color: #000!important;
  z-index: 10;
}

@media (min-width:992px) {
  .header-section .consult-button {
    margin: initial;
  }
}

.header-section .consult-button:hover {
  background-color: #b59500;
}

.header-section .main-title {
  font-size: 40px;
  font-weight: 700;
}

.header-section .sp-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c2d0d8;
  margin-right: 12px;
  border: none;
}

.header-section .sp-selected-button {
  width: 12px;
  height: 12px;
  background-color: #ffd71c;
}

@media (max-width:767px) {
  .header-section .slider-image {
    display: none;
  }
}

.logo-header {
  display: flex;
}

.logo-header img {
  width: 150px;
}

.logo-header div {
  margin-right: 15px;
}

.navbar.navbar-light.navbar-expand-md {
  width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
  color: #eef4f7;
  margin-right: 15px;
  font-size: 13px;
  letter-spacing: .5px;
}

.navbar-dark .navbar-nav .nav-link:active,.navbar-dark .navbar-nav .nav-link:hover {
  color: #7e7e7e;
}

#navcol-1 {
  font-size: 13px;
  font-family: Montserrat,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  min-height: 40px;
}

.navbar-light .navbar-brand {
  background-repeat: no-repeat;
  width: 150px;
  height: 48px;
  background-size: 80%;
}

.custom-shape-divider-top-1594534974 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  border-radius: 10px;
}

.custom-shape-divider-top-1594534974 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
}

.custom-shape-divider-top-1594534974 .shape-fill {
  fill: #ffd71c;
}

@media (min-width:768px) and (max-width:1023px) {
  .custom-shape-divider-top-1594534974 svg {
    width: calc(102% + 1.3px);
    height: 101px;
  }
}

@media (max-width:767px) {
  .custom-shape-divider-top-1594534974 svg {
    width: calc(148% + 1.3px);
    height: 75px;
  }
}

.scroll-to-top {
  display: inline;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: #ffd71c;
  background: rgba(90,92,105,.5);
  line-height: 46px;
  border-color: #ffd71c!important;
  z-index: 999;
  outline: 0;
}

.scroll-to-top:active,.scroll-to-top:focus,.scroll-to-top:target {
  box-shadow: none!important;
  outline: 0;
}

.scroll-to-top:active,.scroll-to-top:hover {
  background: #5a5c69!important;
  color: #ffd71c!important;
}

.reviews-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #eef4f7;
  position: relative;
  fill: #fff;
}

.what-price.second-price {
  background-color: #fff;
  fill: #eef4f7;
}

.features-section.car-types.text-center {
  background-color: #fff;
  fill: #eef4f7;
}

.car-types .icon {
  display: none!important;
}

.scheme-info i,.scheme-info p {
  margin: auto;
}

.scheme-item {
  display: flex;
  margin: auto;
  max-width: 235px;
  padding-bottom: 15px;
}

@media (min-width:576px) {
  .scheme-item {
    padding-bottom: 45px;
  }
}

@media (min-width:768px) {
  .scheme-item {
    padding-bottom: 50px;
  }
}

.scheme-info i {
  display: block;
  margin-bottom: 25px;
  font-size: 50px;
  line-height: 50px;
}

.scheme-arrow i {
  display: none;
  font-size: 50px;
}

@media (min-width:576px) {
  .scheme-arrow i {
    display: block;
  }
}

.work-scheme {
  padding-top: 75px;
  background-color: #eef4f7;
  position: relative;
  fill: #fff;
}

.phone-prefix {
  font-weight: 900;
}

.features-section .box div {
  position: relative;
}

.car-types .box div:after {
  display: block;
  position: relative;
  content: '';
  height: 5px;
  background-color: #ffd71c;
  z-index: 21;
}

#service-swiper-container .swiper-slide {
  height: auto;
  margin-bottom: 45px;
}

.swiper-button-next {
  outline: 0;
}

.swiper-button-prev {
  outline: 0;
}

.options-section-slider .option-item {
  margin: 6px;
}

#reviews-section .swiper-button-prev {
  left: 15px;
}

.options-section-slider .swiper-button-prev {
  left: 15px;
}

#reviews-section .swiper-button-next {
  right: 15px;
}

.options-section-slider .swiper-button-next {
  right: 15px;
}

@media (max-width:992px) {
  #reviews-section .gallery-thumbs {
    display: none;
  }
}

@media (min-width:992px) {
  #reviews-section .swiper-pagination {
    display: none;
  }
}

#reviews-section .gallery-top .swiper-slide {
  height: auto;
  padding: 10px 5px;
}

#reviews-section .gallery-thumbs .swiper-slide {
  max-height: 80px;
  max-width: 140px;
  margin: 2px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #fff;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.16);
  cursor: pointer;
}

#reviews-section .gallery-thumbs {
  top: -30px;
}

#reviews-section .gallery-thumbs .swiper-wrapper {
  justify-content: center;
}

#reviews-section .swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 25px;
}

@media (min-width:576px) {
  #reviews-section .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 35px;
  }
}

@media (min-width:768px) {
  #reviews-section .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 40px;
  }
}

@media (min-width:992px) {
  #reviews-section .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 45px;
  }
}

#reviews-section .swiper-button {
  width: 135px;
  height: 45px;
  position: relative;
  bottom: 49px;
  right: 10px;
  background-color: #fff;
  margin-left: auto;
  z-index: 5;
}

.swiper-pagination-bullet {
  outline: 0;
}

#service-swiper-pagination {
  bottom: 56px;
}

@media (min-width:768px) {
  #service-swiper-pagination {
    bottom: 68px;
  }
}

@media (min-width:992px) {
  #service-swiper-pagination {
    bottom: 5px;
  }
}

#side-menu .contents ul:last-child {
  position: absolute;
  bottom: 20px;
}

@media (min-width:992px) {
  .what-price .mobile-image {
    display: none;
  }
}

.header-top-left span:last-child {
  margin-right: 0;
  padding-right: 0;
}

.header-top-left a,.header-top-left span {
  color: #fff;
  font-size: 15px;
  font-family: Montserrat;
  position: relative;
  text-decoration: none;
}

.header-top-body .header-top-left i {
  margin-right: 10px;
  font-size: 17px;
}

.header-top-left>span:after {
  content: ' ';
  width: 1px;
  height: 14px;
  display: block;
  background: #fff;
  position: absolute;
  right: 0;
  top: 1px;
}

.footer .popup-callback .popup-content .form-group .fa-mobile-phone:after {
  content: ' ';
  width: 1px;
  height: 126%;
  display: block;
  background: #000;
  opacity: .16;
  position: absolute;
  right: 0;
  top: -13%;
}

.footer .popup-phones .popup-content .form-input i:after {
  content: ' ';
  width: 1px;
  height: 126%;
  display: block;
  background: #000;
  opacity: .16;
  position: absolute;
  right: 0;
  top: -13%;
}

.header-top-body {
  display: none;
}

@media (min-width:871px) {
  .header-top-body {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width:576px) {
  #how-we-work .row>div:nth-child(4n) {
    display: none;
  }
}

@media (min-width:768px) {
  #how-we-work .row>div:nth-child(4n) {
    display: block;
  }
}

@media (min-width:768px) {
  #how-we-work .row>div:nth-child(6n) {
    display: none;
  }
}

.header-top-left span:last-child:after {
  display: none;
}

.container-fluid {
  width: 903px;
}

.header .shape-fill {
  fill: #000;
}

#navcol-1 .nav-item {
  margin-right: 6px;
}

.scheme-info {
  width: 100%;
}

@media (max-width:768px) {
  .options-section-grid {
    display: none;
  }
}

@media (min-width:769px) {
  .options-section-slider {
    display: none;
  }
}

#service {
  position: relative;
  fill: #eef4f7;
}

.option-item .price:after {
  display: inline-block;
  content: 'грн.';
  font-weight: 700;
}

@media (max-width:767px) {
  .fixed-top-custom {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

.fixed-top-custom:after {
  display: block;
  content: ' ';
  height: inherit;
}

@media (max-width:767px) {
  .header-section {
    padding-top: 64px;
  }
}

#page-top {
  z-index: 99;
}

.popup-callback {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36,98,120,.8);
  z-index: 999;
}

.popup-phones {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36,98,120,.8);
  z-index: 999;
}

.popup-phones .popup-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.popup-callback .popup-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.footer .popup-phones .popup-content {
  width: calc(100% - 20px);
  max-width: 1300px;
  padding: 55px 20px 20px;
  background: #fff;
  position: relative;
  border-radius: 10px;
}

.footer .popup-callback .popup-content {
  width: calc(100% - 20px);
  max-width: 1300px;
  padding: 55px 20px 20px;
  background: #fff;
  position: relative;
  border-radius: 10px;
}

@media (min-width:576px) {
  .footer .popup-callback .popup-content {
    width: 80%;
    padding: 80px 50px 30px;
    background: #fff;
    position: relative;
  }
}

@media (min-width:576px) {
  .footer .popup-phones .popup-content {
    width: 80%;
    padding: 80px 50px 30px;
    background: #fff;
    position: relative;
  }
}

@media (min-width:768px) {
  .footer .popup-phones .popup-content {
    width: 80%;
    padding: 80px 40px 50px;
  }
}

@media (min-width:768px) {
  .footer .popup-callback .popup-content {
    width: 80%;
    padding: 80px 40px 50px;
  }
}

@media (min-width:992px) {
  .footer .popup-callback .popup-content {
    padding: 90px 60px 66px;
  }
}

@media (min-width:992px) {
  .footer .popup-phones .popup-content {
    padding: 90px 60px 66px;
  }
}

@media (min-width:1200px) {
  .footer .popup-callback .popup-content {
    padding: 100px 195px 80px;
  }
}

@media (min-width:1200px) {
  .footer .popup-phones .popup-content {
    padding: 100px 195px 80px;
  }
}

.popup-phones .close-popup-phones {
  display: block;
  color: #000;
  position: absolute;
  font-size: 17px;
  top: 20px;
  right: 20px;
  z-index: 40;
}

.popup-callback .close-popup-phones {
  display: block;
  color: #000;
  position: absolute;
  font-size: 17px;
  top: 20px;
  right: 20px;
  z-index: 40;
}

@media (min-width:576px) {
  .popup-phones .close-popup-phones {
    font-size: 17px;
    top: 20px;
    right: 20px;
  }
}

@media (min-width:576px) {
  .popup-callback .close-popup-phones {
    font-size: 17px;
    top: 20px;
    right: 20px;
  }
}

@media (min-width:992px) {
  .popup-phones .close-popup-phones {
    font-size: 20px;
  }
}

@media (min-width:992px) {
  .popup-callback .close-popup-phones {
    font-size: 20px;
  }
}

@media (min-width:1200px) {
  .popup-phones .close-popup-phones {
    font-size: 22px;
  }
}

@media (min-width:1200px) {
  .popup-callback .close-popup-phones {
    font-size: 22px;
  }
}

@media (min-width:576px) {
  .popup-phones .close-popup-phones {
    top: 40px;
    right: 40px;
  }
}

@media (min-width:576px) {
  .popup-callback .close-popup-phones {
    top: 40px;
    right: 40px;
  }
}

.footer .popup-phones .popup-content p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #95b4c6;
}

.footer .popup-callback .popup-content p {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 300;
}

@media (min-width:576px) {
  .footer .popup-phones .popup-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@media (min-width:576px) {
  .footer .popup-callback .popup-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@media (min-width:768px) {
  .footer .popup-phones .popup-content p {
    font-size: 25px;
    margin-bottom: 35px;
  }
}

@media (min-width:768px) {
  .footer .popup-callback .popup-content p {
    font-size: 25px;
    margin-bottom: 35px;
  }
}

@media (min-width:992px) {
  .footer .popup-phones .popup-content p {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

@media (min-width:992px) {
  .footer .popup-callback .popup-content p {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.footer .popup-phones .popup-content h4 {
  font-size: 21px;
  font-weight: 900;
  margin-bottom: 15px;
}

.footer .popup-callback .popup-content h4 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 15px;
}

@media (min-width:576px) {
  .footer .popup-phones .popup-content h4 {
    font-size: 27px;
    margin-bottom: 25px;
  }
}

@media (min-width:576px) {
  .footer .popup-callback .popup-content h4 {
    font-size: 27px;
    margin-bottom: 25px;
  }
}

@media (min-width:768px) {
  .footer .popup-phones .popup-content h4 {
    font-size: 43px;
    margin-bottom: 45px;
  }
}

@media (min-width:768px) {
  .footer .popup-callback .popup-content h4 {
    font-size: 43px;
    margin-bottom: 45px;
  }
}

@media (min-width:992px) {
  .footer .popup-phones .popup-content h4 {
    font-size: 53px;
    margin-bottom: 55px;
  }
}

@media (min-width:992px) {
  .footer .popup-callback .popup-content h4 {
    font-size: 53px;
    margin-bottom: 55px;
  }
}

.footer .popup-phones .popup-content .form-control {
  border: none;
  margin-left: 20px;
  outline: 0;
  box-shadow: none;
  letter-spacing: 1.2px;
  font-size: 17px;
}

.footer .popup-callback .popup-content .form-control {
  border: none;
  margin-left: 20px;
  outline: 0;
  box-shadow: none;
  letter-spacing: 1.2px;
  font-size: 17px;
}

@media (min-width:576px) {
  .footer .popup-phones .popup-content .form-control {
    margin-left: 32px;
    font-size: 20px;
  }
}

@media (min-width:576px) {
  .footer .popup-callback .popup-content .form-control {
    margin-left: 32px;
    font-size: 20px;
  }
}

@media (min-width:768px) {
  .footer .popup-phones .popup-content .form-control {
    margin-left: 15px;
    font-size: 19px;
  }
}

@media (min-width:768px) {
  .footer .popup-callback .popup-content .form-control {
    margin-left: 15px;
    font-size: 19px;
  }
}

@media (min-width:992px) {
  .footer .popup-phones .popup-content .form-control {
    margin-left: 15px;
    font-size: 22px;
  }
}

@media (min-width:992px) {
  .footer .popup-callback .popup-content .form-control {
    margin-left: 15px;
    font-size: 22px;
  }
}

@media (min-width:1200px) {
  .footer .popup-phones .popup-content .form-control {
    margin-left: 14px;
    font-size: 22px;
  }
}

@media (min-width:1200px) {
  .footer .popup-callback .popup-content .form-control {
    margin-left: 14px;
    font-size: 22px;
  }
}

.footer .popup-phones .popup-content .form-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 10px;
  overflow: hidden;
}

.footer .popup-callback .popup-content .form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  overflow: hidden;
}

@media (min-width:768px) {
  .footer .popup-phones .popup-content .form-input {
    width: 49%;
    margin-bottom: 30px;
  }
}

@media (min-width:768px) {
  .footer .popup-callback .popup-content .form-group {
    margin-bottom: 30px;
  }
}

@media (min-width:992px) {
  .footer .popup-phones .popup-content .form-input {
    width: 49%;
    margin-bottom: 30px;
  }
}

@media (min-width:992px) {
  .footer .popup-callback .popup-content .form-group {
    margin-bottom: 30px;
  }
}

.footer .popup-phones .popup-content .form-input i {
  display: block;
  position: relative;
  align-self: center;
  width: 85px;
  font-size: 20px;
}

.footer .popup-callback .popup-content .form-group .fa-mobile-phone {
  display: block;
  position: relative;
  align-self: center;
  width: 85px;
  font-size: 20px;
  text-align: center;
}

@media (min-width:576px) {
  .footer .popup-phones .popup-content .form-input i {
    width: 120px;
    font-size: 24px;
  }
}

@media (min-width:576px) {
  .footer .popup-callback .popup-content .form-group .fa-mobile-phone {
    width: 120px;
    font-size: 24px;
  }
}

@media (min-width:768px) {
  .footer .popup-phones .popup-content .form-input i {
    width: 85px;
    font-size: 24px;
  }
}

@media (min-width:768px) {
  .footer .popup-callback .popup-content .form-group .fa-mobile-phone {
    width: 85px;
    font-size: 24px;
  }
}

@media (min-width:992px) {
  .footer .popup-phones .popup-content .form-input i {
    width: 120px;
    font-size: 26px;
  }
}

@media (min-width:992px) {
  .footer .popup-callback .popup-content .form-group .fa-mobile-phone {
    width: 120px;
    font-size: 26px;
  }
}

@media (min-width:1200px) {
  .footer .popup-phones .popup-content .form-input i {
    width: 100px;
    font-size: 26px;
  }
}

@media (min-width:1200px) {
  .footer .popup-callback .popup-content .form-group .fa-mobile-phone {
    width: 100px;
    font-size: 26px;
  }
}

.footer .popup-phones .popup-content .btn {
  width: 100%;
  border-radius: 10px;
  background-color: #ffd71c;
  letter-spacing: .5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
  border: none;
  padding: 10px 0;
}

.footer .popup-callback .popup-content .btn {
  background-color: #ffd71c;
  letter-spacing: .5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
  border: none;
  padding: 10px 0;
}

@media (min-width:576px) {
  .footer .popup-phones .popup-content .btn {
    font-size: 17px;
  }
}

@media (min-width:576px) {
  .footer .popup-callback .popup-content .btn {
    font-size: 17px;
  }
}

@media (min-width:768px) {
  .footer .popup-phones .popup-content .btn {
    font-size: 20px;
  }
}

@media (min-width:768px) {
  .footer .popup-callback .popup-content .btn {
    font-size: 20px;
  }
}

@media (min-width:992px) {
  .footer .popup-phones .popup-content .btn {
    font-size: 22px;
  }
}

@media (min-width:992px) {
  .footer .popup-callback .popup-content .btn {
    font-size: 22px;
  }
}

.footer .popup-phones .popup-content .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.footer .popup-callback .popup-content .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

@media (min-width:768px) {
  .footer .popup-phones .popup-content .form-group {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width:768px) {
  .footer .popup-callback .popup-content .form-group {
    flex-direction: row;
    justify-content: space-between;
  }
}

#popup-phones {
  display: none;
}

.date-selection-select-hour {
  display: flex;
}

.header-top-left>span {
  margin-right: 15px;
  padding-right: 15px;
}

@media (max-width:576px) {
  .header-section .container {
    max-width: initial;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width:576px) {
  .header-section .container .col {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar .consult-button {
  display: block;
  position: relative;
  width: 120px;
  padding: 13px 0;
  font-weight: 900;
  letter-spacing: .5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffd71c;
  border-radius: 10px;
  color: #000;
  z-index: 10;
}

.navbar .consult-button:hover {
  background-color: #b59500;
  color: #000;
}

.navbar .navbar-brand-div {
  width: 120px;
}

.about-section {
  background-color: #eef4f7;
  padding: 40px 0 80px;
}

.about .right {
  cursor: -webkit-grab;
  cursor: grab;
}

@media (max-width:575px) {
  .about-section .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.more-text {
  display: block;
  margin: 20px 0;
  text-align: center;
  color: #000;
  font-size: 13px;
  font-weight: 800;
  z-index: 900;
  cursor: pointer;
}

@media (min-width:992px) {
  .more-text {
    display: none;
  }
}

.more-text:hover {
  color: #000;
  text-decoration: none;
}

#scroll-style::-webkit-scrollbar-thumb {
  background: #ffd71c;
  cursor: pointer;
  position: absolute;
  right: 15px;
}

#scroll-style::-webkit-scrollbar-track {
  background: #eaf1f5;
  max-height: 550px;
}

#scroll-style::-webkit-scrollbar {
  width: 10px;
  background: #eaf1f5;
}

.more-text:not(.more) .more {
  display: none;
}

.more-text.more .less {
  display: none;
}

.about-section .left h3 {
  font-size: 20px;
}

.nav-item.change-lang-menu {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width:767px) {
  .nav-item.change-lang-menu {
    display: none;
  }
}

.change-lang-top>span {
  margin-right: 10px;
  font-weight: 700;
}

.change-lang-top {
  text-decoration: underline;
  cursor: default;
}

.scroll-to-top i {
  display: block;
}

#page-top .navbar-brand {
  height: 100%;
  width: 131px;
  padding: 0;
}

#page-top .navbar-brand img {
  height: 56px;
}

.features-question {
  color: #0000a6;
}