.custom-shape-divider-top-1596355994 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1596355994 svg {
  position: relative;
  display: block;
  width: calc(128% + 1.3px);
  height: 95px;
}

@media (min-width:768px) and (max-width:1023px) {
  .custom-shape-divider-top-1596355994 svg {
    width: calc(125% + 1.3px);
    height: 61px;
  }
}

@media (max-width:767px) {
  .custom-shape-divider-top-1596355994 svg {
    width: calc(128% + 1.3px);
    height: 41px;
  }
}